<div class="row" id="menu">
    <div class="col l1 m1 s2">
        <img id="menuImg" ng-click="vm.hoverOut()" class="responsive-img  v-align" ng-src="/assets/img/arrowLeft.png">
    </div>
    <div class="col l9 hide-on-med-and-down">
        <h4 class="center">depuis 25 ans.... home made cms</h3>
    </div>
    <div class="col l2 m5 offset-m6 s9">
        <ul>
            <li class="list0">
                <a class="list js-scrollTo" href="#main"><i class="left material-icons  tiny">radio_button_checked</i>L'entreprise</a>
            </li>
            <li class="list0">
                <a class="list js-scrollTo" href="#services"><i class="left material-icons tiny">radio_button_checked</i>Nos services</a>
            </li>
            <li class="list0">
                <a class="list js-scrollTo" href="#projet"><i class="left material-icons tiny">radio_button_checked</i>Votre projet</a>
            </li>
            <li class="list0">
                <a class="list js-scrollTo" href="#realisations"><i class="left material-icons tiny">radio_button_checked</i>Nos réalisations</a>
            </li>
            <li class="list0">
                <a class="list js-scrollTo" href="#contact"><i class="left material-icons tiny">radio_button_checked</i>Nous contacter</a>
            </li>
        </ul>
    </div>
</div>
