<div class="container">
  <!-- <div class=""> -->
  <h2 class="header transparent white-text col l12 m12 s12">Votre projet...</h2>
  <!-- </div> -->
  <div class="row">
    <div  class="col l6 m12 s12 transparent">
      <p id="projetDiv" class="flow-text vertical-align">Associations, PME, Particuliers, nous vous accompagnons dans la réalisation ou la refonte de votre site internet, et plus encore, nous assurons le suivi et la maintenance de votre site de façon à vous aider à ne pas vous laisser démunis quand vous
        rencontrez un souci ou un nécessité de mise-à-jour particulière.
        Quelques échanges directes permettent de déterminer ensemble vos besoins et de vous
        guider sur les meilleures solutions pour y répondre au travers de votre communication sur internet.</p>
      </p>
    </div>
    <div class="col l6 m12 s12">
      <img id="projetImg" class="responsive-img col l12 m12 s12 materialboxed" width="1200" ng-src="/assets/img/projet.jpg" alt="schema realisation projet">
    </div>
  </div>
</div>
